<div class="media">
    <div class="media__image">
        <svg class="icon icon--primary">
            <use xlink:href="images/sprite.svg#snap"></use>
        </svg>
    </div>
    <div class="media__body">
        <h3 class="media__title">Easy Start & Manage Updates</h3>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus, quos
            impedit? Quod, asperiores quia dolorum unde consequatur illum
            molestiae ut, quidem facilis animi tempora, rem impedit! Doloribus
            id est numquam?
        </p>
    </div>
</div>
